body{margin:0px;font-size:12px;}
#body{width:100%;}
#bodyleft{background-image:url(../images/t1.png);width:790px;height:25px;margin:auto;}
#bodymiddle{background-image:url(../images/t2.png);width:790px;text-align:center;margin:auto;}
#bodyright{background-image:url(../images/t3.png);width:790px;height:25px;margin:auto;}
.btn1{background-color: #5ff6ed;font-size: 12px;}
.btn2 {background-color:#2175bd;border:none;color:white;padding:5px 10px;text-align:center;text-decoration:none;margin-left:250px;}
.btn3 {background-color:#2175bd;border:none;color:white;padding:5px 10px;text-align:center;text-decoration:none;margin-left:20px;}
.btn4 {background-color:#3f7730;border:none;color:white;padding:5px 10px;text-align:center;text-decoration:none;margin-left:0px;}
.next{color:blue;}
#header{background-image:url(../images/topbg.png);width:100%;height:100px;}
#head1{background-image:url(../images/blogback.png);width:400px;height:100px;}
#footer{width:790px;height:100px;margin:auto;text-align:right;}

#bodyA1{background-color:#f1f3f5;}
#testhtmDiv{margin:auto;text-align:center;padding-top:30px;}

#tableD1{background:#dbedb4;width:750px;height:90px;margin:30px auto;border:1px;}
.blogpost-body{margin:20px 20px;}

ul{list-style-type:none;}
li{float:left;border-right:1px solid #000000;}
li a{display:block;width:100px;height:50px;text-align:center;text-decoration:none;background-color:#e88383;line-height:50px;color:#ffffff;overflow:hidden;}
li:last-child {border-right: none;}
 

#back a{position:fixed;width:97px;height:62px;top:30px;right:5px;background-image:url(../images/fixedback.png);}



/**
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
**/