body{margin:0px;}
body a{text-decoration:none;}
.top_block{width:100%;height:50px;background-color:#297bce;}
.header{width:100%;margin:auto;padding:15px;}
.header ul{list-style:none;float:right;padding:0px;margin:0px;}
.header ul li{float:left;padding:0px;margin:0px;margin-right:20px;}
.header ul li a{color:white;font-size:14px;font-weight:bold;padding:10px;}
.header li a:hover{color:#d63031;}

.main1{color:white;background-color:#d63031;width:100%;height:400px;}
.center1{position:relative;width:900px;color:white;background:#d63031;height:300px;margin:auto;}
.tumode1{position:absolute;width:300px;height:300px;background-color:#297bce;top:30px;left:30px;border-radius:50%;}
.textmodel{position:absolute;height:100px;left:400px;top:50px;color:white;background-color:#d63031;text-align:center;}
.textmodel h3{font-size:30px;}
.tumode1_text{position:absolute;width:200px;height:200px;color:white;background-color:#297bce;left:80px;top:80px;}
