body,h3,p{margin:0px;font-size:12px;}
.header{background-image:url(../images/topbg.png);width:100%;height:100px;}
.head1{background-image:url(../images/huaxieyueshen.png);width:400px;height:100px;}/**index的图**/
.head2{background-image:url(../images/blogback.png);width:400px;height:100px;}/**blog_index的图**/

/**index的页脚**/
.footer{width:100%;height:100px;margin:auto;background:#e88383;position:relative;}
.footer_left{width:300px;height:100px;background:#e88383;position:absolute;top:0px;left:0px;}
.footer_left table{text-align:center;border-collapse:collapse;}
.footer_right{width:300px;height:100px;background:#e88383;position:absolute;top:0px;right:0px;}

/**index的导航**/
.manue{background-color:#e88383;height:50px;}
.manue ul{list-style-type:none;margin:0px;}
.manue li{float:left;display:block;width:100px;height:50px;background-color:#e88383;}
.manue a{text-align:center;text-decoration:none;line-height:50px;color:#ffffff;overflow:hidden;}

/**index的主体**/
.block1{background:#c2d1c7;width:100%;height:150px;padding:30px;}
.block2{background:#faf4e8;width:100%;height:150px;padding:30px;}
.block_center{width:850px;height:150px;margin:auto;color:black;text-align:center;background-image:url(../images/index_huaxie.png);}
.block_center2{width:850px;height:150px;margin:auto;color:black;text-align:center;background-image:url(../images/index_xw.png);}
.block_center h3{font-size:50px;}
.block_center2 h3{font-size:50px;}
.block_center2 a{text-decoration:none;color:black;background-color:#e88383;border:5px solid #e88383;font-weight:bold;}

/**不存在的页面**/
#nono_body{background:#fbf3e8;}
#nono{width:300px;height:300px;border-radius:50%;background:#e88383;opacity:0.8;text-align:center;margin:auto;margin-top:50px;border:0px;}
#nono a{text-decoration:none;color:red;}

/**bloglist_index的**/
#t1 table{margin:auto;border-collapse:collapse;}
#t1 td{padding:0px;}
#t1 .td_top{background-image:url(../images/top.png);}
#t1 .td_mid{background-image:url(../images/mid.png);padding-left:50px;line-height:30px;}
#t1 .td_bottom{#8ea5e0;background-image:url(../images/bottom.png);}
#t1{font-size:14px;}
#t1 a{text-decoration:none;color:blue;}
#footer{width:790px;height:100px;margin:auto;text-align:right;clear:both;}
