body{margin:0px;}
body a{text-decoration:none;}
.top_block{width:100%;height:50px;background-color:#297bce;}
.header{width:100%;margin:auto;padding:15px;}
.header ul{list-style:none;float:right;padding:0px;margin:0px;}
.header ul li{float:left;padding:0px;margin:0px;margin-right:20px;}
.header ul li a{color:white;font-size:14px;font-weight:bold;padding:10px;}
.header li a:hover{color:#d63031;}

.main{position:relative;background:white;height:500px;}
.left{position:absolute;background:#297bce;width:300px;height:100%;}
.left ul{list-style:none;} 
.left ul li{list-style:none;padding-top:30px;} 
.left ul li a{color:white;font-weight:bold;} 
.left li a:hover{color:#d63031;}

.right_top{position:absolute;left:300px;top:0px;height:300px;background-color:white;width:100%;}
.printer_tu{position:absolute;left:350px;}
.printer_text{position:absolute;left:700px;width:100%;height:200px;background-color:white;top:50px;}
.printer_text hr{color:#297bce;}

.right_info1{position:absolute;top:350px;left:350px;width:200px;height:100px;background:white;text-align:center;line-height:100px;}
.right_info1 a{color:#297bce;}

.right_info2{position:absolute;top:350px;left:650px;width:200px;height:100px;background:white;text-align:center;line-height:100px;}
.right_info2 a{color:#297bce;}
