body{margin:0px;}
body a{text-decoration:none;}
.main_block1{height:800px;background:url(../images/xw1.png) no-repeat center;}
/**.main_block1{height:300px;background-color:gray;position:relative;}**/
.header{width:100%;position:absolute;margin:auto;padding:15px;}
.header .menu_xw1{list-style:none;float:right;padding:0px;margin:0px;}
.header .menu_xw1 li{float:left;padding:0px;margin:0px;margin-right:20px;}
.menu_xw1 a{color:black;font-size:14px;font-weight:500;padding:10px;}
.menu_xw1 li a:hover{color:#d63031;}
.xw_text_info{color:black;padding:200px;width:30%;margin:0 auto;text-align:center;font-size:40px;}

.main_block2{height:800px;background:url(../images/xw2.png) no-repeat center;}
/**.main_block3{height:800px;background-color:gray;color:white;}
.xw_text_info3 h1,a{color:black;padding:200px;width:70%;margin:0 auto;text-align:center;font-size:30px;}
.xw_text_info3 p{color:black;padding:0px;width:70%;margin:0 auto;text-align:center;font-size:30px;}**/
.main_block3{height:500px;background-color:gray;color:white;clear:both;position:relative;}
.main_block3 table{width:700px;height:400px;margin:auto;padding:20px;}
.main_block3 table,td{border-collapse:collapse;text-align:center;}
.main_block3 img{border-radius:50%;}
.block3_table{padding-top:50px;}