body{margin:0px;background-color:#b3adeb;}
body a{text-decoration:none;}
.header_xiaowang{width:100%;height:50px;padding:15px;background-color:#b3adeb;}
.header_xiaowang .menu_xw1{list-style:none;float:right;padding:15px;margin:0px;}
.header_xiaowang ul li{float:left;padding:0px;margin:0px;margin-right:20px;}
.header_xiaowang ul li a{color:black;font-size:14px;font-weight:bold;padding:10px;}
.header_xiaowang li a:hover{color:#d63031;}

.xw_center{width:900px;background-color:white;margin:auto;}
.block hr{margin:0px;height:5px;border:none;border-top:5px solid #ebadda ;}
.block h5{margin:0px;padding:5px;color:black;background-color:yellow;}
.block p{margin:0px;padding:5px;font-size:12px;}
/**.main1{color:white;background-color:#d63031;width:100%;height:400px;}
.center1{position:relative;width:900px;color:white;background:#d63031;height:300px;margin:auto;}
.tumode1{position:absolute;width:300px;height:300px;background-color:#297bce;top:30px;left:30px;border-radius:50%;}
.textmodel{position:absolute;height:100px;left:400px;top:50px;color:white;background-color:#d63031;text-align:center;}
.textmodel h3{font-size:30px;}
.tumode1_text{position:absolute;width:200px;height:200px;color:white;background-color:#297bce;left:80px;top:80px;}**/
