div.zy a{text-decoration:none;background-color:#ffffcc;}

div.outset {
padding:10px;
border-style:solid;
border-width:5px;
border-style:outset;

border-top-color:#74f3f3;
border-right-color:#3333ff;
border-bottom-color:#ffa6d2;
border-left-color:#ff9d9d;
}

.Ans{margin-top:10px;
padding:10px;
border-style:solid;
border-width:5px;
/**border-style:outset;**/

border-top-color:#33cccc;
border-right-color:#ffccff;
border-bottom-color:#33cccc;
border-left-color:#ffccff;
}

/**关键词样式**/
#key1,#key2,#key3,#key4,#key5,#key6,#key7,#key8,#key9,#key10,#key11,#key12,#key13{
border-style:solid;
border-width:5px;
background-color:#ffff66;
text-decoration:none;
border-color:#ffff66;
}
#an1{border-style:dotted;}

.kk{border-color:#33cccc;}
#a1{color:green;text-decoration:none;padding:10px;}

/**表格样式**/
.jg_table{
margin:auto;width:90%;border-width: 1px;border-style:solid;border-color: #a9c6c9;border-collapse: collapse;
font-family: verdana,arial,sans-serif;font-size:14px;}
td,th{border-width: 1px;border-style: solid;border-color: #a9c6c9;padding:10px;line-height:35px;}
/**表格样式结束**/

.sj{
margin:5px;
padding:10px;
border-style:solid;
border-width:5px;
background-color:#ffff66;
text-decoration:none;
display:block;
}
